*.gcda
*.gcno
*.la
*.lo
*.o
*.plist
*~
.*.swp
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/coverage.info
/coveragereport/
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/psmq-*.tar.*
/psmqd.log
/stamp-h1
/test-driver
